<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>parser</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
  
    <!-- Webfont -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
  </head>
  <body id="app">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <main>
      <form v-on:submit.prevent="search">
        <input type="text" class="search-box" v-model="query" v-on:keyup="instantSearch" placeholder="Search for tracks, artists...">
        <button type="submit"></button>
      </form>
      
      <ul v-if="showSearchResults">
        <li v-for="track in results">
          <img class="album-art--small" v-bind:src="track.albumArt.url" alt="{{ track.albumTitle }}">
          <div v-on:click="showTrackInfo($index)">
            <h2>{{ track.song }}</h2>
            <p>{{ track.artistName }}</p>
            <p>{{ track.albumTitle }}</p>
          </div>
        </li>
      </ul>

      <div class="additional-info" v-show="showAdditionalInfo">
        <div class="additional-info__header">
          <img v-bind:src="trackInfo.albumArt.url" alt="{{ trackInfo.albumTitle }}" class="album-art--large">
          <div>
            <h2>{{ trackInfo.song }}</h2>
            <p>by {{ trackInfo.artistName }}</p>
            <p>{{ trackInfo.duration | msToSecond }}</p>
            <audio controls v-bind:src="trackInfo.previewUrl"></audio>
          </div>
        </div>
      </div>
    </main>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/vue/dist/vue.js"></script>
    <script src="/bower_components/vue-resource/dist/vue-resource.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
